.apresentation {
    font-family: 'Bebas Neue';
    font-size: 60px;
    padding: 30px;
  }

  .containerApresentation {
    flex: 1; 
    margin-top: 90px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }