  .education {
    font-family: 'Bebas Neue';
    font-size: 60px;
    padding: 20px;
  }

  .destaque{
    font-style: italic;
    font-size: 14px;
  }

  .containerEducation {
    flex: 1; 
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
  }

  .infoEducation {
    flex-direction: column;
    display: flex;
    text-align: center;
  }

  .imageEducation{
    width: 500px;
    height: 400px;
    border-radius: 300px;
  }

  .gridImage{
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 768px) {
    .education {
      font-family: 'Bebas Neue';
      font-size: 40px;
      color: '#353535';
      padding: 20px;
    } 

    .imageEducation{
      width: 300px;
      height: 250px;
      border-radius: 100px;
    }
    
  }
